[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "<=1.2"
flask-sqlalchemy = "*"
mysqlclient = "*"
gunicorn = "*"
karp = {editable = true,path = "."}
click = "*"
fastjsonschema = "*"
pytest = "*"
elasticsearch = ">=6,<7.0.0"
elasticsearch-dsl = ">=6,<7.0.0"
alembic = "*"
slacker-log-handler = "*"
pyjwt = "*"
cryptography = "*"
flask-cors = "*"
gevent = "*"
sb-json-tools = "*"

[dev-packages]
pytest = "*"
"pysqlcipher3" = "*"
coverage = "*"
pytest-xdist = "*"
pytest-cov = "*"
flake8 = "*"
elasticsearch-test-py = "*"
pylint = "*"


[requires]
python_version = "3"
