[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
mysqlclient = "*"
gunicorn = "*"
karp = {editable = true, path = "."}
click = "*"

[dev-packages]
pytest = "*"
"pysqlcipher3" = "*"
coverage = "*"
pytest-xdist = "*"
pytest-cov = "*"

[requires]
python_version = "3"
