sqlalchemy
#mysqlclient
gunicorn
click
fastjsonschema
elasticsearch>=6,<7.0.0
elasticsearch-dsl>=6,<7.0.0
alembic
slack-log-utils
pyjwt
cryptography
sb-json-tools>=0.5.2
fastapi
#starlette
paradigmextract>=0.1.0
pydantic
sqlalchemy-utils
sqlalchemy-json
uvicorn
tabulate
typer
json_streams
importlib_metadata; python_version < "3.8"
tenacity

