
# slack-log-utils
#mysqlclient
#starlette
alembic
click
cryptography>=3.3.2
dependency-injector
elasticsearch-dsl>=6,<7.0.0
elasticsearch>=6,<7.0.0
environs
fastapi
fastjsonschema
gunicorn
importlib_metadata; python_version < "3.8"
json_streams
paradigmextract>=0.1.0
pydantic
pyjwt
sb-json-tools>=0.5.2
sqlalchemy
sqlalchemy-json
sqlalchemy-utils
tabulate
tenacity
tqdm
typer
urllib3>=1.26.5
uvicorn
