name: Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.6, 3.7, 3.8]
        es-version: [6.5.4, 6.8.3]
        # es-version: [6.8.3, 7.3.2]

    steps:
      - uses: actions/checkout@v1
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          make install-dev
      - name: Lint with flake8
        run: |
          # pip install flake8
          # stop the build if there are Python syntax errors or undefined names
          make lint-syntax-errors
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 src tests setup.py wsgi.py --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Lint with pylint
        run: |
          # pip install pylint
          pylint --rcfile=.pylintrc --exit-zero src
      - name: Setup Elasticsearch ${{ matrix.es-version }}
        run: |
      - name: Install Elasticsearch 6
        if: startsWith( matrix.es-version, '6')
        run: |
          wget https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-${{ matrix.es-version }}.tar.gz
          tar -xzf elasticsearch-${{ matrix.es-version }}.tar.gz
          echo "ELASTICSEARCH_ENABLED=True" >> .env
          echo "ES_HOME=`realpath elasticsearch-${{ matrix.es-version }}`" >> .env
          cat .env
          # pip install -e .[elasticsearch6]
      - name: Install Elasticsearch 7
        if: startsWith( matrix.es-version, '7')
        run: |
          wget https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-${{ matrix.es-version }}-linux-x86_64.tar.gz
          tar -xzf elasticsearch-${{ matrix.es-version }}-linux-x86_64.tar.gz
          echo "ELASTICSEARCH_ENABLED=True" >> .env
          echo "ES_HOME=`realpath elasticsearch-${{ matrix.es-version }}`" >> .env
          cat .env
          pip install -e .[elasticsearch7]
      - name: Test with pytest
        run: |
          # pip install pytest
          pytest -vv --cov=src/ --cov-report=term tests
