name: Build

on:
  push:
    branches:
      - "*"
    tags-ignore:
      - v*
  pull_request:
    branches:
      - "*"

env:
  POETRY_VERSION: 1.1.10

jobs:
  checks:
    name: ${{ matrix.task.name }} py-${{ matrix.python-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      max-parallel: 4
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11-dev"]
        os: [ubuntu-latest, macos-latest]
        task:
          - name: Lint code
            run: make lint
            allow_failure: true
          - name: Typecheck
            run: make check-mypy
            allow_failure: true
          # - name: Lint w bandit
          #   run: make lint-security-issues
          #   allow_failure: false

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      # - name: Load cached $HOME/.local
      #   uses: actions/cache@v2.1.6
      #   with:
      #     path: ~/.local
      #     key: dotlocal-${{ runner.os }}-${{ matrix.python-version }}-${{ env.POETRY_VERSION }}-${{ hashFiles('.github/workflows/build.yml') }}

      - name: Install MariaDB client on macos
        if: matrix.os == 'macos-latest'
        run: |
          brew update
          brew install mariadb

      - name: Install Poetry
        uses: snok/install-poetry@v1.3
        with:
          version: ${{ env.POETRY_VERSION }}
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v2
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ matrix.python-version }}-${{ env.POETRY_VERSION }}-${{ hashFiles('**/poetry.lock') }}-${{ hashFiles('.github/workflows/build.yml') }}

      - name: Install dependencies
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        run: make install-dev

      - name: Setup up environment
        run: cp -v .env.ci .env

      - name: ${{ matrix.task.name }}
        run: ${{ matrix.task.run }}
        continue-on-error: ${{ matrix.task.allow_failure }}
        env:
          DB_DRIVER: sqlite

  unit-tests:
    name: ${{ matrix.task.name }} py-${{ matrix.python-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      max-parallel: 4
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10"]
        os: [ubuntu-latest]
        task:
          - name: Unit tests
            run: make unit-tests-w-coverage
            allow_failure: false

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      # - name: Load cached $HOME/.local
      #   uses: actions/cache@v2.1.6
      #   with:
      #     path: ~/.local
      #     key: dotlocal-${{ runner.os }}-${{ matrix.python-version }}-${{ env.POETRY_VERSION }}-${{ hashFiles('.github/workflows/build.yml') }}

      - name: Install Poetry
        uses: snok/install-poetry@v1.3
        with:
          version: ${{ env.POETRY_VERSION }}
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v2
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ matrix.python-version }}-${{ env.POETRY_VERSION }}-${{ hashFiles('**/poetry.lock') }}-${{ hashFiles('.github/workflows/build.yml') }}

      - name: Install dependencies
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        run: make install-dev

      - name: Setup up environment
        run: cp -v .env.ci .env

      - name: ${{ matrix.task.name }}
        run: ${{ matrix.task.run }}
        continue-on-error: ${{ matrix.task.allow_failure }}
        env:
          DB_DRIVER: sqlite
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          fail_ci_if_error: false
          verbose: true

  tests:
    name: ${{ matrix.task.name }} py-${{ matrix.python-version }} es-${{ matrix.es.version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    services:
      mysql:
        image: mariadb:10.3
        ports:
          - 3306
        env:
          MYSQL_ROOT_PASSWORD: testing
          MYSQL_DATABASE: karp
          MYSQL_PASSWORD: testing
          MYSQL_USER: karp
        options: >-
          --health-cmd "mysqladmin ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 10

    strategy:
      max-parallel: 4
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10"]
        es:
          - use: false
            version: NO
          - use: true
            version: 6.8.23
        os: [ubuntu-latest]
        task:
          - name: Integration tests
            run: make integration-tests-w-coverage
          - name: End-to-end tests
            run: make e2e-tests-w-coverage
        exclude:
          - es:
              use: false
            task:
              name: End-to-end tests

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      # - name: Load cached $HOME/.local
      #   uses: actions/cache@v2.1.6
      #   with:
      #     path: ~/.local
      #     key: dotlocal-${{ runner.os }}-${{ matrix.python-version }}-${{ env.POETRY_VERSION }}-${{ hashFiles('.github/workflows/build.yml') }}

      - name: Install Poetry
        uses: snok/install-poetry@v1.3
        with:
          version: ${{ env.POETRY_VERSION }}
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v2
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ matrix.python-version }}-${{ env.POETRY_VERSION }}-${{ hashFiles('**/poetry.lock') }}-${{ hashFiles('.github/workflows/build.yml') }}

      - name: Install dependencies
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        run: make install-dev

      - name: Setup up environment
        run: cp -v .env.ci .env

      - name: Install Elasticsearch 6
        if: startsWith( matrix.es.version, '6')
        run: |
          wget https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-${{ matrix.es.version }}.tar.gz
          tar -xzf elasticsearch-${{ matrix.es.version }}.tar.gz
          ./elasticsearch-${{ matrix.es.version }}/bin/elasticsearch-plugin install analysis-icu
          echo "TEST_ELASTICSEARCH_ENABLED=True" >> .env
          echo "TEST_ES_HOME=`realpath elasticsearch-${{ matrix.es.version }}`" >> .env
          echo "SEARCH_CONTEXT=es6_search_service" >> .env
          cat .env
          # make install-dev-elasticsearch6
          # pip install -e .[elasticsearch6]

      - name: Install Elasticsearch 7
        if: startsWith( matrix.es.version, '7')
        run: |
          wget https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-${{ matrix.es.version }}-linux-x86_64.tar.gz
          tar -xzf elasticsearch-${{ matrix.es.version }}-linux-x86_64.tar.gz
          echo "TEST_ELASTICSEARCH_ENABLED=True" >> .env
          echo "TEST_ES_HOME=`realpath elasticsearch-${{ matrix.es.version }}`" >> .env
          cat .env
          pip install -e .[elasticsearch7]
          #- name: Setup sql index
          #if: ! ${{ matrix.es.use }}
          #run: echo "SEARCH_CONTEXT=sql_index" >> .env
      - name: List tree
        run: tree .
      - name: ${{ matrix.task.name }}
        run: ${{ matrix.task.run }}
        env:
          DB_TEST_DATABASE: karp
          DB_USER: karp
          DB_PASSWORD: testing
          DB_HOST: 127.0.0.1
          DB_PORT: ${{ job.services.mysql.ports['3306'] }}
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          fail_ci_if_error: false
          verbose: true
